<style type="text/css">
    .card-toggle-btn a:not(.active) {
        color: #007bff !important;
        box-shadow: none;
    }
    
    .tab-content-container .nav-box:not(.active) {
        display: none;
    }
    
    .tab-content-container .nav-box, .payout-preference-box {
        margin-top: 15px;
    }
    
    @media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
        .nav-box, .payout-preference-box {
            padding: 0 !important;
            border: none !important;
        }
    }
</style>

<section id="register" class="row">
  <%= render 'layouts/subnav' %>
  
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body" align="center"
        style="border-bottom: none; padding: 20px; font-size: 15px !important;">
        <ul class="nav nav-pills nav-fill card-toggle-btn">
          <li class="nav-item">
            <a class="nav-link active cursor-pointer">Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer">Account</a>
          </li>
        </ul>
        
        <div class="tab-content-container">
          <div class="nav-box active">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", value:"#{current_user.email}" %>
              </div>
              
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              
              <div class="field">
                <%= f.label :current_password %><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"Current Password" %>
              </div>
            
              <div class="field">
                <%= f.label :new_password %>
                <% if @minimum_password_length %>
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"New Password" %>
              </div>
            
              <div class="actions">
                <%= f.submit "Update Password Settings", class:"btn btn-primary btn-block", data: { :disable_with => "Updating..." } %>
              </div>
            <% end %>
          </div>
    
          <div class="nav-box">
            <%= button_to "I want to cancel my account", registration_path(resource_name),
              data: { confirm: "Are you sure? This action cannot be reversed." }, class:"btn btn-link",
              method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    $('.card-toggle-btn .nav-link').on('click', e => {
        $('.card-toggle-btn .nav-link').toggleClass('active');
        $('.tab-content-container div').toggleClass('active');
    });
</script>