<style type="text/css">
    nav {
        display: none !important;
    }
    
    body {
        padding-top: 0 !important;
    }
    
    #base-body {
      min-height: calc(100vh - 65px);
      margin-bottom: 15px;
    }
    
    .form-control {
      outline: none !important;
      box-shadow: none !important;
    }
</style>

<section id="register" class="container">
  <div class="modal fade" id="spamNoticeModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content box-shadow"
          style="margin-top: 45px; background-size: cover; background-repeat: no-repeat;
              background-image: url('https://s3.us-east-2.amazonaws.com/myrates/spam_notice.png');
              height: 425px;">
        <div class="modal-header" style="border-bottom: none;">
          <button type="button" class="close" data-dismiss="modal"
              aria-label="Close" style="color: #fff;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
  <button style="display: none;" data-toggle="modal" id="spamNoticeModalBtn"
      data-target="#spamNoticeModal">
      Add new rate
  </button>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= render "shared/header" %>
      
      <div class="card">
        <div class="card-header"
          style="background-color: #00adf2; color: #fff; border-bottom: none;">
          <h6 style="margin-bottom: 0;">Register</h6>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <% flash.each do |name, msg| %>
              <% if msg.is_a?(String) && !msg.downcase.include?("signed out successfully") %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <% end %>
            <% end %>
            
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
            </div>
            
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control", placeholder:"Social media username" %>
            </div>
          
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password" %>
            </div>
          
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Password confirmation" %>
            </div>
          
            <div class="actions">
              <%= f.submit "Sign up", class:"btn btn-primary btn-block", data: { :disable_with => "Creating your account..." } %>
            </div>
          <% end %>
        </div>
      </div>
      
      <div align="center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    document.querySelector('#spamNoticeModalBtn').click();
</script>
