<%= form_for(@promoter, :html => { :multipart => true, :id => "user-form" }) do |f| %>
    <%= render 'shared/image/errors', object: @promoter %>
    <% if @promoter.errors.any? %>
        <div id="error_explanation" class="alert alert-warning" role="alert">
            <h2>The following <%= pluralize(@promoter.errors.count, "error") %> occurred:</h2>
    
            <ul>
                <% @promoter.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <% if @promoter.image? %>
        <div class="profile-image"
            style="height: 120px; width: 120px; border-radius: 60px;
                background-image: url('<%= @promoter.image.url %>');
                background-size: cover; background-repeat: no-repeat;
                margin-bottom: 15px;"></div>
    <% else %>
        <div class="profile-image" style="margin-bottom: 15px;">
            <i class="far fa-user-circle" style="font-size: 120px;"></i>
        </div>
    <% end %>
    
    <div class="field">
        <a class="btn btn-primary" id="image-upload-trigger"
            style="color: #fff; cursor: pointer;"
            onclick="document.querySelector('#image-input-field').click();">
            <i class="fas fa-camera"></i> Profile Picture
        </a>
        <%= f.file_field :image, style:"display: none;", id:"image-input-field",
            onchange:"$('#image-upload-trigger').text(this.value.substring(0,20));" %>
    </div>
    
    <div class="field">
        <%= f.label :username %>
        <div class="input-group mb-3" style="font-size: 15px !important;">
          <div class="input-group-prepend">
            <span class="input-group-text"
                style="background-color: #fff !important; border: 1px solid #e7e7e9 !important;
                    padding-right: 0; color: #a1a1a3;"
                id="basic-addon3">promoin.bio/</span>
          </div>
          <%= f.text_field :username, class:"form-control", placeholder:"username",
              style:"border-left: none !important; padding-left: 3px;", value:"#{@promoter.username}",
              onkeyup:"document.querySelector('#your-bio-link').value = 'promoin.bio/' + this.value;" %>
        </div>
    </div>
    
    <div class="field">
        <%= f.label :choose_a_theme_color %>
        <%= f.hidden_field :theme_color, value:"#{@promoter.theme_color}", id:"theme-color" %>
        
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-block background-transparent-lite" type="button"
                        id="dropdownColorMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"
                        style="border-color: #e7e7e9 !important;
                                color: #a1a1a3; box-shadow: none !important;">
                        Select <i class="fas fa-angle-down"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownColorMenuButton"
                        style="width: 100%;">
                        <% theme_color_options.each.with_index do |c, idx| %>
                        <a id="<%= 'color' + idx.to_s %>"    
                            class="color-card dropdown-item <%= "active-theme-color" if (c == @promoter.theme_color || @promoter.theme_color.empty?) %>"
                            style="background: <%= c %>; height: 40px; cursor: pointer; border-radius: 2px; border-radius: 0;"
                            onclick="$('.color-card').css('border', 'none');
                                    document.querySelector('#'+this.id).style.border = '3px solid #28a745';
                                    document.querySelector('#theme-color').value = '<%= c %>';
                                    $('#dropdownColorMenuButton').html(`<%= c.truncate(35) %> <i class='fas fa-angle-down'></i>`);"></a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="actions">
        <%= f.submit "Update", class:"btn btn-success btn-block", data: { :disable_with => "Updating..." } %>
    </div>
<% end %>