<%= form_for(@promoter, :html => { :multipart => true, :id => "user-form" }) do |f| %>
    <%= render 'shared/image/errors', object: @promoter %>
    <% if @promoter.errors.any? %>
        <div id="error_explanation" class="alert alert-warning" role="alert">
            <h2>The following <%= pluralize(@promoter.errors.count, "error") %> occurred:</h2>
    
            <ul>
                <% @promoter.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="field" id="image-field" align="center">
        <a class="btn btn-primary" id="image-upload-trigger"
            style="color: #fff; cursor: pointer; height: 120px; width: 120px;
                border-radius: 60px; background-image: url('<%= @promoter.image.url %>');
                background-size: cover; background-repeat: no-repeat; filter: brightness(80%);
                border: 5px solid #e7e7e9 !important; background-color: transparent;"
            onclick="document.querySelector('#image-input-field').click();">
            <i class="fas fa-camera" style="font-size: 40px; margin-top: 30px; color: #1d1d5c;"></i>
        </a>
        
        <%= f.file_field :image, style:"display: none;", id:"image-input-field",
            onchange:"$('#image-field')
                    .append(`
                        <p style='margin-top: 15px;'>
                            <span class='badge badge-primary'>
                                ${this.value.split('fakepath').join().substring(0,3) +
                                '...' + this.value.slice(-10)}. Click 'Update' to save changes.
                            </span>
                        </p>`)" %>
    </div>
    
    <div class="field">
        <div class="row">
            <div class="col-md-6">
                <%= f.label :username %>
                <div class="input-group mb-3" style="font-size: 15px !important;">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                            style="background-color: #fff !important; border: 1px solid #e7e7e9 !important;
                                padding-right: 0; color: #a1a1a3;"
                            id="basic-addon3">myrates.co/</span>
                    </div>
                    <%= f.text_field :username, class:"form-control", placeholder:"username",
                        style:"border-left: none !important; padding-left: 3px;", value:"#{@promoter.username}",
                        onkeyup:"document.querySelector('#your-bio-link').value = 'myrates.co/' + this.value;" %>
                </div>
            </div>
            
            <div class="col-md-6">
                <label>Bio link</label>
                <div class="input-group mb-3" style="margin-bottom: 0.75rem !important;">
                    <input type="text" class="form-control"
                        aria-label="bio-link" aria-describedby="button-addon2"
                        value="myrates.co/<%= @promoter.username %>"
                        style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
                        id="your-bio-link">
                    <div class="input-group-append">
                        <a class="btn btn-primary cursor-pointer"
                            id="copy-bio-link" onclick="copyText()"
                            style="border-top-left-radius: 0 !important;
                                border-bottom-left-radius: 0 !important;
                                box-shadow: none !important; padding-top: 12px; color: #fff;">
                            <i class="far fa-copy"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="field">
        <div class="row">
            <div class="col-md-6">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class:"form-control", placeholder:"First name", required: true %>
            </div>
            <div class="col-md-6">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class:"form-control", placeholder:"Last name", required: true %>
            </div>
        </div>
    </div>
    
    <div class="field">
        <div class="row">
            <div class="col-md-12">
                <%= f.label :what_type_of_promos_do_you_do %>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-block promotion-type" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"
                        style="border-color: #e7e7e9 !important; background-color: transparent;
                            color: #a1a1a3; box-shadow: none !important;">
                        <%= @promoter.promotion_type || "Select" %>
                        <i class="fas fa-angle-down"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                        style="border: 0.5px solid #e7e7e9; width: 100%;">
                        <% promotion_types.each do |type| %>
                            <a class="dropdown-item cursor-pointer"
                                onclick="$('.promotion-type').html(this.innerHTML);
                                    document.querySelector('#promotion-type-input').value = '<%= type %>';">
                                <%= type %>
                            </a>
                        <% end %>
                    </div>
                </div>
                <%= f.hidden_field :promotion_type, required: true, id:"promotion-type-input" %>
            </div>
        </div>
    </div>
    
    <div class="actions">
        <%= f.submit "Update", class:"btn btn-primary btn-block", onclick:"document.querySelector('#user-form').submit();" %>
    </div>
<% end %>