<section class="row">
    <!--<div class="col-md-12">-->
    <!--    <div class="alert alert-warning alert-dismissible fade show" role="alert">-->
    <!--      <strong>Note</strong>: Make sure to check your spam folder to whitelist us.-->
    <!--      Otherwise, many of our emails may end up there.-->
    <!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
    <!--        <span aria-hidden="true">&times;</span>-->
    <!--      </button>-->
    <!--    </div>-->
    <!--</div>-->
    <div class="col-md-4" align="center">
        <div class="card">
            <div class="card-header"
                style="background-color: #00adf2; color: #fff; border-bottom: none;">
                <h6 style="margin-bottom: 0;">Account</h6>
            </div>
            <div class="card-body" align="center"
                style="border-bottom: none; padding: 20px; font-size: 15px !important;">
                <%= render "users/form" %>
            </div>
        </div>
    </div>
    
    <div class="col-md-4" align="center" style="height: calc(100% - 15px);">
        <div class="card">
            <div class="card-header"
                style="background-color: #00adf2; color: #fff; border-bottom: none;">
                <h6 style="margin-bottom: 0;">Social</h6>
            </div>
            <div class="card-body">
                <div class="input-group mb-3" style="margin-bottom: 0.75rem !important;">
                    <input type="text" class="form-control"
                        aria-label="bio-link" aria-describedby="button-addon2"
                        value="myrates.co/<%= @promoter.username %>"
                        id="your-bio-link">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"
                            id="button-addon2" onclick="copyText(this)"
                            style="border-top-left-radius: 0 !important;
                                border-bottom-left-radius: 0 !important;
                                box-shadow: none !important;">
                            Add link to bio
                        </button>
                    </div>
                </div>
                  
                <a href="/account/rates" align="center">
                    Go to my rates <i class="fas fa-long-arrow-alt-right"></i>
                </a>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header"
                style="background-color: #00adf2; color: #fff; border-bottom: none;">
                <h6 style="margin-bottom: 0;">Email</h6>
            </div>
            <div class="card-body" align="center"
                style="border-bottom: none; padding: 20px; font-size: 15px !important;">
                <form action="/account/set_email_preferences" method="post">
                    <div class="field">
                        <label>Promotional emails</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-block promo-email-dropdown" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"
                                style="border-color: #e7e7e9 !important; background-color: transparent;
                                    color: #a1a1a3; box-shadow: none !important;">
                                <% if @promoter.unsubscribed_from_promotional_emails %>
                                    Unsubscribed <i class="fas fa-angle-down"></i>
                                <% else %>
                                    Subscribed <i class="fas fa-angle-down"></i>
                                <% end %>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                style="border: 1px solid #e7e7e9; width: 100%;">
                                <% ["Subscribe", "Unsubscribe"].each do |t| %>
                                    <a class="dropdown-item cursor-pointer"
                                        onclick="$('.promo-email-dropdown').html(this.innerHTML + `<i class='fas fa-angle-down'></i>`);
                                            document.querySelector('#promo-email').value = this.text;">
                                        <%= t %>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                        <input type="hidden" name="promo_email" id="promo-email">
                    </div>
                    
                    <div class="field">
                        <label>All other emails</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-block unsubscribe-dropdown" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"
                                style="border-color: #e7e7e9 !important; background-color: transparent;
                                    color: #a1a1a3; box-shadow: none !important;">
                                <% if @promoter.unsubscribed_from_email %>
                                    Unsubscribed <i class="fas fa-angle-down"></i>
                                <% else %>
                                    Subscribed <i class="fas fa-angle-down"></i>
                                <% end %>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                style="border: 1px solid #e7e7e9; width: 100%;">
                                <% ["Subscribe", "Unsubscribe"].each do |t| %>
                                    <a class="dropdown-item cursor-pointer"
                                        onclick="$('.unsubscribe-dropdown').html(this.innerHTML + `<i class='fas fa-angle-down'></i>`);
                                            document.querySelector('#unsubscribe').value = this.text;">
                                        <%= t %>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                        <input type="hidden" name="unsubscribe" id="unsubscribe">
                    </div>
                    
                    <div class="action">
                        <input type="submit" class="btn btn-success btn-block box-shadow"
                            value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-4" align="center">
        <div class="card" style="height: calc(100% - 15px);">
            <div class="card-header"
                style="background-color: #00adf2; color: #fff; border-bottom: none;">
                <h6 style="margin-bottom: 0;">Preview</h6>
            </div>
            <div class="card-body" align="center"
                style="border-bottom: none; padding: 20px; font-size: 15px !important;">
                <div class="row" style="text-align: center !important;" id="profile-preview-row">
                    <div style="border-radius: 10px; border: 1px solid #e7e7e9; height: 400px;
                            background: <%= @promoter.theme_color %>;"
                        class="col-md-8 offset-md-2" align="center">
                        
                        <div class="profile-image"
                            style="height: 50px; width: 50px; border-radius: 25px;
                                background-image: url('<%= @promoter.image.url %>');
                                background-size: cover; background-repeat: no-repeat;
                                margin: 30px 0 10px 0;"></div>
                        
                        <p style="color: <%= "#fff" unless @promoter.theme_color == "#eef3f5" %>; font-size: 12px;">
                            <b><%= "@" + @promoter.username %></b>
                        </p>
                        
                        <% if current_user.promos.present? %>
                            <div class="row">
                                <div class="col-md-12" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="card package-card box-shadow">
                                        <div class="card-header basic-package"
                                            style="color: #fff; font-weight: bold; border-bottom: none;
                                                padding-top: 25px;">
                                            <i class="fas fa-award" style="font-size: 25px;"></i>
                                            <h4><%= number_to_currency(shorten(number_to_human(@promo.package_price))) %></h4>
                                            <h6 data-toggle="modal" data-target="#viewPromoDetails<%= @promo.id %>"
                                                style="cursor: pointer; font-size: 15px;">
                                                View Details
                                            </h6>
                                        </div>
                                        <div class="card-footer" style="padding: 0;">
                                            <a class="btn btn-link btn-block" style="text-decoration: none;"
                                                data-toggle="modal" data-target="#editPromoDetails<%= @promo.id %>"
                                                href="#">
                                                Edit
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        
                        <section align="center">
                            <p>
                                <a class="navbar-brand color-blue" href="/"
                                    style="font-size: 25px !important; padding: 0; margin: 0;">
                                    myrates
                                </a>
                            </p>
                        </section>
                        <!--<p style="margin-top: 75px;-->
                        <!--    color: <%= "#fff" unless @promoter.theme_color == "#eef3f5" %>;">-->
                        <!--    [Promos appear here]-->
                        <!--</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function copyText (elem) {
        document.getElementById('your-bio-link').select();
        document.execCommand("copy");
        
        // alert("Copied link to clipboard!");
        elem.innerHTML = 'Link Copied!'
    }
</script>