<style type="text/css">
    .StripeElement {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
        box-shadow: none !important;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
        height: 50px;
    }
    
    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }
    
    .StripeElement--invalid {
        border-color: #fa755a;
    }
    
    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
    
    .card-toggle-btn a:not(.active) {
        color: #007bff !important;
        box-shadow: none;
    }
    
    .tab-content-container .nav-box:not(.active) {
        display: none;
    }
    
    @media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
        .nav-box, .payout-preference-box {
            padding: 0 !important;
            border: none !important;
        }
    }
</style>

<section id="payouts">
    <div class="row" align="center">
        <div class="col-md-12" style="margin-bottom: 15px;">
            <ul class="nav justify-content-center settings-nav">
                <li class="nav-item" onmouseover="displayBar()" oumouseout="displayBar()">
                    <a class="nav-link active" href="/account/settings">Account</a>
                    <hr>
                </li>
                <li class="nav-item" onmouseover="displayBar()" oumouseout="displayBar()">
                    <a class="nav-link" href="/account/email">Email</a>
                    <hr>
                </li>
                <li class="nav-item" onmouseover="displayBar()" oumouseout="displayBar()">
                    <a class="nav-link" href="/account/payouts">Payouts</a>
                    <hr>
                </li>
                <li class="nav-item" onmouseover="displayBar()" oumouseout="displayBar()">
                    <a class="nav-link" href="/password/settings">Password</a>
                    <hr>
                </li>
            </ul>
        </div>
        
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body" align="center"
                    style="border-bottom: none; padding: 20px; font-size: 15px !important;">
                    <ul class="nav nav-pills nav-fill card-toggle-btn">
                      <li class="nav-item">
                        <a class="nav-link active cursor-pointer">Links</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link cursor-pointer">Debit</a>
                      </li>
                    </ul>
                    
                    <div class="tab-content-container" style="margin-top: 15px;">
                        <div class="nav-box active">
                            <%= form_for(@promoter, :html => { :multipart => true, :id => "user-form" }) do |f| %>
                                <% if @promoter.errors.any? %>
                                    <div id="error_explanation" class="alert alert-warning" role="alert">
                                        <h2>The following <%= pluralize(@promoter.errors.count, "error") %> occurred:</h2>
                                
                                        <ul>
                                            <% @promoter.errors.full_messages.each do |message| %>
                                                <li><%= message %></li>
                                            <% end %>
                                        </ul>
                                    </div>
                                <% end %>
                                
                                <div class="field">
                                    <%= f.label :cashapp_link %>
                                    <div class="input-group mb-3" style="font-size: 15px !important;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3"
                                                style="background-color: #fff !important; border: 1px solid #e7e7e9 !important;
                                                    color: #a1a1a3;">
                                                cash.me/
                                            </span>
                                        </div>
                                        <%= f.text_field :cashapp_link, class:"form-control", placeholder:"Cashapp username",
                                            style:"border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;" %>
                                    </div>
                                </div>
                                
                                <div class="field">
                                    <%= f.label :paypal_link %>
                                    <div class="input-group mb-3" style="font-size: 15px !important;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3"
                                                style="background-color: #fff !important; border: 1px solid #e7e7e9 !important;
                                                    color: #a1a1a3;">
                                                paypal.me/
                                            </span>
                                        </div>
                                        <%= f.text_field :paypal_link, class:"form-control", placeholder:"Paypal username",
                                            style:"border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;" %>
                                    </div>
                                </div>
                                
                                <div class="action">
                                    <%= f.submit "Update Payout Links", class:"btn btn-primary btn-block box-shadow",
                                        data: { :disable_with => "Updating..." } %>
                                </div>
                            <% end %>
                        </div>
                        
                        <div class="nav-box">
                            <h6 class="text-center">Coming soon...</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://js.stripe.com/v3/"></script>

<script type="text/javascript">
    var stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");
    var elements = stripe.elements();
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };
    
    var card = elements.create('card', {style: style});
    card.mount('#card-element');
    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });
    
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        
        let btn = document.querySelector('#payment-form .btn');
        btn.setAttribute('disabled', 'true');
        btn.innerHTML = `
            <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            Processing...
        `;
    
        stripe.createToken(card, { currency: 'usd' }).then(function(result) {
            if (result.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenHandler(result.token);
            }
        });
    });
    
    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripe_token');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);
    
        form.submit();
    }
</script>

<script type="text/javascript">
    $('.card-toggle-btn .nav-link').on('click', e => {
        $('.card-toggle-btn .nav-link').toggleClass('active');
        $('.tab-content-container div').toggleClass('active');
    });
</script>