<section id="payouts">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header"
                    style="background-color: #00adf2; color: #fff; border-bottom: none;">
                    <h6 style="margin-bottom: 0;">Payout Links</h6>
                </div>
                
                <div class="card-body" align="center"
                    style="border-bottom: none; padding: 20px; font-size: 15px !important;">
                    <%= form_for(@promoter, :html => { :multipart => true, :id => "user-form" }) do |f| %>
                        <% if @promoter.errors.any? %>
                            <div id="error_explanation" class="alert alert-warning" role="alert">
                                <h2>The following <%= pluralize(@promoter.errors.count, "error") %> occurred:</h2>
                        
                                <ul>
                                    <% @promoter.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>
                        
                        <div class="field">
                            <%= f.label :cashapp_link %>
                            <div class="input-group mb-3" style="font-size: 15px !important;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3"
                                        style="background-color: #fff !important; border: 1px solid #e7e7e9 !important;
                                            color: #a1a1a3;">
                                        <i class="fas fa-dollar-sign" style="margin-right: 5px;"></i>
                                        cash.me/$
                                    </span>
                                </div>
                                <%= f.text_field :cashapp_link, class:"form-control", placeholder:"Username" %>
                            </div>
                        </div>
                        
                        <div class="field">
                            <%= f.label :paypal_link %>
                            <div class="input-group mb-3" style="font-size: 15px !important;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3"
                                        style="background-color: #fff !important; border: 1px solid #e7e7e9 !important;
                                            color: #a1a1a3;">
                                        <i class="fab fa-paypal" style="margin-right: 5px;"></i> paypal.me/
                                    </span>
                                </div>
                                <%= f.text_field :paypal_link, class:"form-control", placeholder:"Username" %>
                            </div>
                        </div>
                        
                        <div class="action">
                            <%= f.submit "Update", class:"btn btn-success btn-block box-shadow",
                                data: { :disable_with => "Updating..." } %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>