<style type="text/css">
  nav {
    display: none !important;
  }
  
  #base-body {
    min-height: calc(100vh - 70px);
  }
  
  .form-control {
    outline: none !important;
    box-shadow: none !important;
  }
</style>

<section id="register" class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= render "shared/header" %>
      
      <div class="card mr-card">
        <div class="card-header"
          style="background-color: #00adf2; color: #fff; border-bottom: none;">
          <h6 style="margin-bottom: 0;">Change password</h6>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
          
            <div class="field">
              <%= f.label :password, "New password" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
                class:"form-control", placeholder:"New Password" %>
            </div>
          
            <div class="field">
              <%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off",
                class:"form-control", placeholder:"New password confirmation" %>
            </div>
          
            <div class="actions">
              <%= f.submit "Change password", class:"btn btn-primary btn-block",
                data: { :disable_with => "Processing..." } %>
            </div>
          <% end %>
        </div>
      </div>
      
      <div align="center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
