<style type="text/css">
    .form-control {
        box-shadow: none !important;
    }
    
    textarea {
        height: 100px !important;
    }
</style>

<%= form_for(@request, :html => { :multipart => true, :id => "request-form" } ) do |f| %>
    <%= render 'shared/image/errors', object: @request %>
    
    <%= f.hidden_field :promo_id, value:"#{params[:promo_id]}" %>
    
    <div class="field">
        <label>Choose a social media platform</label>
        <div class="dropdown">
            <button class="btn btn-secondary btn-block platform-selector" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"
                style="border-color: #e7e7e9 !important; background-color: transparent;
                    color: #a1a1a3; box-shadow: none !important;">
                Select <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                style="border: 0.5px solid #e7e7e9; width: 100%;">
                <% platforms.each do |platform| %>
                    <a class="dropdown-item cursor-pointer"
                        onclick="$('.platform-selector').html(this.innerHTML);
                            document.querySelector('#social-platform-input').value = '<%= platform %>';">
                        <i class="fab fa-<%= platform.downcase %>"></i> <%= platform %>
                    </a>
                <% end %>
            </div>
        </div>
        <%= f.hidden_field :social_platform, id:"social-platform-input" %>
    </div>
    
    <div class="field">
        <label>Email</label>
        <div>
            <%= f.text_field :client_email, class:"form-control", placeholder:"Your email" %>
        </div>
    </div>
    
    <div class="field">
        <label>Do you have a picture you'd like promoted?</label><br />
        <a class="btn btn-primary" id="image-upload-trigger"
            style="color: #fff; cursor: pointer;"
            onclick="document.querySelector('#promo-request-picture').click();">
            <i class="fas fa-camera"></i> Upload
        </a>
        <div>
            <%= f.file_field :image, style:"display: none;", id:"promo-request-picture",
                onchange:"$('#image-upload-trigger').text(this.value.substring(0,20));"%>
        </div>
    </div>
    
    <div class="field">
        <label>If you have a video, please provide the link</label>
        <div>
            <%= f.text_field :video_link, class:"form-control", placeholder:"https://youtube.com/" %>
        </div>
    </div>
    
    <div class="field">
        <label>If you have an audio content, please provide the link</label>
        <div>
            <%= f.text_field :audio_link, class:"form-control", placeholder:"https://soundcloud.com" %>
        </div>
    </div>
    
    <div class="field">
        <label>Do you have a website you'd like to attach to this promo?</label>
        <div>
            <%= f.text_field :website_link, class:"form-control", placeholder:"https://yourwebsite.com" %>
        </div>
    </div>
    
    <div class="field">
        <label>What would you like the caption to be?</label>
        <div>
            <%= f.text_area :caption, class:"form-control", placeholder:"Caption" %>
        </div>
    </div>
    
    <div class="field">
        <label>Any hashtags you'd like <%= @promoter.username %> to include? (separated by a comma)</label>
        <div>
            <%= f.text_field :hashtags, class:"form-control", placeholder:"#hashtag1,#hashtag2,#hashtag3..." %>
        </div>
    </div>
    
    <div class="field">
        <label>Any additional notes?</label>
        <div>
            <%= f.text_area :additional_notes, class:"form-control", placeholder:"Additional notes..." %>
        </div>
    </div>
    
    <hr>
    
    <% if @promoter.has_account_set_up %>
        <div class="direct-payment" style="color: #a1a1a3; margin: 15px 0;">
            <a class="btn btn-link" data-toggle="collapse" href="#payDirectly"
                role="button" aria-expanded="false" aria-controls="payDirectly"
                style="text-decoration: none;">
                Optional - Pay directly on our platform <i class="fas fa-angle-down"></i>
            </a>
             
            <div class="collapse" id="payDirectly">
                <%= render "stripe/make_payment" %>
            </div>
        </div>
    <% end %>
    
    <div class="actions">
        <%= f.submit "Submit", class:"btn btn-primary btn-block", data: { :disable_with => "Submitting..." }%>
    </div>
    
<% end %>