<% requests.each do |req| %>
    <div class="row">
        <div class="col-md-3">
            <p style="font-size: 14px;">
                <%= req.client_email.truncate(21) %>
            </p>
        </div>
        
        <div class="col-md-2">
            <p style="font-size: 14px;">
                <%= number_to_currency req.promo.package_price %>
            </p>
        </div>
        
        <div class="col-md-4">
            <p style="font-size: 14px;">
                <%= req.created_at_time.strftime("%b %e %Y - %l:%M %p") %>
            </p>
        </div>
        
        <div class="col-md-2">
            <p style="font-size: 14px;">
                <b><%= req.completion_status %></b>
            </p>
        </div>
        
        <div class="col-md-1">
            <%= link_to promo_request_path(:id => req.token), class:"btn btn-primary btn-block", style: "padding: 0;" do %>
                <i class="fas fa-search"></i>
            <% end %>
        </div>
        
        <div class="col-md-12">
            <hr>
        </div>
    </div>
<% end %>