<%= render 'shared/client_facing_css' %>

<section class="container">
    <div class="row">
        <%= render "users/promoter" %>
        <div class="col-md-4 offset-md-4" align="center">
            <div class="card box-shadow no-border">
                <div class="card-body" style="border-bottom: none; padding: 20px;">
                    <h5 style="color: #505051;">Your request has been sent!</h5>
                    
                    <p style="margin-top: 15px; font-size: 15px;">
                        We've sent you a confirmation email. Check your inbox
                        for a confirmation email from us, or for additional emails from
                        <%= link_to "@#{@promoter.username}", promoter_path(@promoter.username),
                            style:"text-decoration: none; font-weight: bold;" %>.
                    </p>
                    
                    <p style="font-size: 15px;">
                        Request ID: <b><%= @request.token %></b>
                    </p>
                </div>
            </div>
            
            <% if @promoter.preferred_payout_method == 'links' || @promoter.preferred_payout_method.nil? %>
                <% @promoter.payout_links.each do |link| %>
                    <a href="https://<%= link[:link] %>" class="btn btn-primary box-shadow btn-block"
                        style="padding-top: 15px; padding-bottom: 15px;" target="_blank">
                        <i class="<%= link[:icon] %>"></i> Pay with <%= link[:service].capitalize %>
                    </a>
                <% end %>
            <% end %>
        </div>
    </div>
</section>

<%= render "shared/footer" %>