<style type="text/css">
    .tox-tinymce {
        border: none !important;
        height: 430px !important;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center"
                style="border-bottom: none; background-color: #00adf2; color: #fff; ">
                <h6 style="margin-bottom: 0;">
                    <i class="fas fa-money-check"></i> Request
                </h6>
            </div>
            <div class="card-body" style="border-bottom: none;" align="center">
                <div class="attribute-col">
                    <h6><i class="far fa-user-circle"></i> Client</h6>
                    <p><%= @request.client_email %></p>
                </div>
                
                <div class="attribute-col">
                    <h6><i class="fas fa-tag"></i> Price</h6>
                    <p><%= number_to_currency @request.promo.package_price %></p>
                </div>
                
                <hr>
                
                <div>
                    <% if @request.complete %>
                        <button disabled class="btn btn-success">
                            Request Processed
                        </button>
                    <% else %>
                        <%= link_to request_mark_as_processed_path(:request_id => @request.token),
                            class:"btn btn-success",
                            style:"padding-top: 15px; padding-bottom: 15px;" do %>
                            Mark as processed <i class="fas fa-check"></i>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center"
                style="background-color: #00adf2; color: #fff; border-bottom: none;">
                <h6 style="margin-bottom: 0;">
                    <i class="fas fa-info-circle"></i> Details
                </h6>
            </div>
            <div class="card-body" style="padding-bottom: 30px; text-align: center;">
                
                <div class="attribute-col">
                    <h6><i class="fas fa-receipt"></i> Confirmation</h6>
                    <p><%= @request.token %></p>
                </div>
                
                <div class="attribute-col">
                    <h6><i class="fab fa-youtube"></i> Video Link</h6>
                    <p><%= pretty_display  @request.video_link, true %></p>
                </div>
                
                <div class="attribute-col">
                    <h6><i class="fab fa-soundcloud"></i> Audio Link</h6>
                    <p><%= pretty_display  @request.audio_link, true %></p>
                </div>
                
                <div class="attribute-col">
                    <h6><i class="fas fa-link"></i> Website Link</h6>
                    <p><%= pretty_display  @request.website_link, true %></p>
                </div>
                
                <div class="attribute-col">
                    <h6><i class="fas fa-closed-captioning"></i> Caption</h6>
                    <p><%= pretty_display  @request.caption %></p>
                </div>
                
                <div class="attribute-col">
                    <h6><i class="fas fa-hashtag"></i> Hashtags</h6>
                    <p><%= pretty_display  @request.hashtags %></p>
                </div>
                
                <div class="attribute-col">
                    <h6><i class="fas fa-file-alt"></i> Additional Notes</h6>
                    <p><%= pretty_display  @request.additional_notes %></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center"
                style="border-bottom: none; background-color: #00adf2; color: #fff;">
                <h6 style="margin-bottom: 0;">
                    <i class="far fa-image"></i> Picture
                </h6>
            </div>
            <div class="card-body" align="center" style="border-bottom: none;">
                <% if @request.image? %>
                    <a href="<%= @request.image.url %>" target="_blank"
                        style="background-color: transparent;">
                        <%= image_tag(@request.image.url, alt: "Image", id: "request-image",
                            title: "Open in new tab") if @request.image? %>
                    </a>
                    
                    <div style="margin-top: 15px;">
                        <a class="btn btn-info btn-block" id="download-promo-image"
                            style="padding: 15px; color: #fff; border-radius: 2px;"
                            href="<%= @request.image.url %>" target="_blank">
                            View <i class="fas fa-search"></i>
                        </a>
                    </div>
                <% else %>
                    <p>No picture provided</p>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggleEmailBoxDisplay () {
        $('#email-label, #email-box').toggleClass('hide');
    }
    
    $('#email-form').on('submit', e => {
        let btn = document.querySelector('#email-form-btn');
        btn.disabled = true;
        btn.innerHTML = "Sending...";
    });
    
    function discardEmail () {
        console.log($('#tinymce').html());
        $('#tinymce > p').text('');
    };
</script>