<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env == "production" %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140894560-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-140894560-1');
      </script>
    <% end %>

    <title>MyRates <%= page_name %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Mandali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Poppins|Ubuntu|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= tinymce_assets %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script type="text/javascript">
      let url = '<%= request.original_url %>';
      if (!url.includes('https')) {
        $('html').append(`
          <div style="min-height: 100vh; text-align: center;">
            <div class="spinner-grow text-primary" role="status"
              style="margin-top: 48vh;">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        `);
        url = url.split('http://').join('');
        window.location.replace('https://' + url);
      }
    </script>
  </head>

  <body style="padding-top: 70px;" id="document-body">
    
    <%= render navbar %>
    <%= render body %>
    <%= render footer %>

  </body>
</html>
